<div class="bg-image img5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 sk-card" *ngFor="let item2 of this.competenceBlocListe">
                    <div class="card col-sm-10 card-sk">
                        <div class="card-body">
                            <h5 class="card-title">{{item2.titre}}</h5>
                            <mat-list>
                                <h3 mat-subheader>Folders</h3>
                                <mat-list-item *ngFor="let item3 of item2.comp_L">
                                    <mat-icon mat-list-icon>folder</mat-icon>
                                    <h4 mat-line>{{item3.nom }}</h4>
                                    <p mat-line> {{item3.niveu}} </p>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-leg">

            <div class="card-body">
                <h5 class="card-title">{{service.const_text_fr.TTTRE_Legende}}</h5>
                <div class="card-subtitle mb-2 text-muted" *ngFor="let item of this.legendListe" class="leg-list">
                    <span class="item"> <span> {{item.num}} - {{item.nom}} </span><span *ngIf="item.desc">-
                            {{item.desc}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>