/*.img5 { background-image: url("../../../assets/img/img_forest.jpg"); }*/

.leg-list{
 float: left;
}
.sk-card{
    margin: 20px auto;
}

.card-sk{
    box-shadow: 1px 1px 6px #555;
    height: 300px;
    margin: 0 auto;
}
.card{
    

}

.card-leg{
    padding: -10px;
    background-color: transparent;
    font-size: 10px;
}
.card-title{
    text-align: center;
}

.item{
    padding: 10px;
}