.img { 
  margin-top: -10px;

  padding-top:80px;
  padding-bottom:80px;
  min-height:60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: black;
}

.card{
padding: 15px;
background-color: #343a4011;
height: 150px;
}