.img { 
  margin-top: -10px;
  background-color:  #dfe6e9;
  padding-top:80px;
  padding-bottom:80px;
  min-height:60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: black;
}

.card{
padding: 15px;
}