.img4 { 
    background-image: url("../../../assets/img/img_nature.jpg"); 
}

.jumbotron{
background-color: rgba(255, 255, 255, 0.363);
margin-left: 50px;
}
.container{
    margin-top :15vh;
}

img {
    margin-top: 15px;
}
div{
    font-family: 'Roboto Slab';
}
.bage{
    height: 40px;
    width: 40px;
    color: black !important;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #555;
    float: left;
    margin-right: 15px;
}

.bage a i{
    color: black !important;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: auto;
    padding-top: 5px;
   
}
.icon-bar{
    margin: 0 auto;
   
}