<!--Bar de navigation -->
<nav class="navbar  navbar-expand-lg navbar-light fixed-top bg-light" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav justify-content-center" >
      <li class="nav-item active">
        <a class="nav-link" href="#resume">{{const_text_fr.TITRE_RESUME}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skill">{{const_text_fr.TITRE_SKILL}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#exp">{{const_text_fr.TITRE_EXP}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#formation">{{const_text_fr.TITRE_FORMATION}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lang">{{const_text_fr.TITRE_LANG}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">{{const_text_fr.TITRE_CONTACT}}</a>
      </li>
    </ul>
  </div>
</nav>

<app-resume id="resume"></app-resume>
<app-skill id="skill"></app-skill>
<app-exp id="exp"></app-exp>
<app-formation id="formation"></app-formation>
<app-lang id="lang"></app-lang>
<app-contact id="contact"></app-contact>

<div class="bg-text">{{const_text_fr.TEST}}</div>