<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
  <a class="navbar-brand" *ngIf="this.CvData" href="#">{{this.CvData.Nom}} {{this.CvData.Prenom}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#Resumé">Résumé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Compétences">Compétences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Expériences">Expériences professionnelles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Formations">Formations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Lang-Lois">Langues et loisirs</a>
      </li>
    </ul>
  </div>
</nav>
<app-resume id="Resumé"></app-resume>
<app-skill id="Compétences"></app-skill>