<div class="bg-image img">
    <div class="container">
        <h1>Mes expériences</h1>
        <div *ngIf="this.CvData">
            <div *ngFor="let E of this.CvData.Contenu.Experiences">
                <div class="card card-first">
                    <div class="row">
                        <h6 class="col-sm-9">Date : {{E.Periode}}</h6>
                        <i class="col-sm-3">Durée : {{E.Duree}}</i>
                    </div>
                    <br>
                    <br>
                    <h5>Sujet : {{E.Sujet}}</h5>
                    <div class="card card-second">
                        <h6>Dèscription</h6>
                        <p>{{E.Descriptions}}</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>